.header {
    background-color: $white;
    padding: 15px 40px;
    position: relative;

    @include breakpoint("lg") { 
        padding: 15px;
    }

    @include breakpoint("md") {
        border-bottom: 1px solid #e6eff5;
    }
    
    @include breakpoint("sm") {
        padding: 10px 15px;
    }

    @include breakpoint("xs") {
        padding: 10px;
    }

    &__inner-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__left-wrap, &__right-wrap {
        display: flex;
        align-items: center;
    }

    &__logo-wrap {
        width: 185px;
        height: 35px;
        margin-right: 20px;
        position: relative;

        @include breakpoint("md") {
            width: 170px;
        }
    }

    &__logo-wrap::after {
        content: "";
        background-color: #e6eff5;
        width: 1px;
        height: 90px;
        position: absolute;
        top: -28px;
        right: -20px;

        @include breakpoint("md") {
            display: none;
        }
    }

    &__logo-wrap a {
        display: flex;
        align-items: center;
    }

    &__logo-wrap svg {
        width: 36px;
        height: 36px;

        @include breakpoint("md") {
            width: 26px;
            height: 26px;
        }
    }

    &__logo-wrap span {
        color: #343c6a;
        font-size: 25px;
        font-family: "Montserrat", sans-serif;
        font-weight: 900;
        line-height: 31px;
        padding-left: 5px;
    }

    &__title {
        color: #343c6a;
        font-size: 28px;
        font-weight: 500;
        line-height: 34px;
        padding-left: 40px;

        @include breakpoint("md") {
            display: none;
        }
    }

    &__search-form {
        position: relative;
        margin-right: 30px;

        @include breakpoint("md") {
            display: none;
        }
    }

    &__search-btn {
        width: 20px;
        height: 20px;
        margin-right: 15px;
        position: absolute;
        left: 15px;
        top: 15px;
    }

    &__search-input {
        color: #8ba3cb;
        font-size: 15px;
        font-weight: 400;
        background-color: #f5f7fa;
        border-radius: 40px;
        width: 255px;
        height: 50px;
        padding: 0 20px 0 50px;
    }

    &__setting-icon, &__notification-icon {
        width: 50px;
        height: 50px;
        margin-right: 30px;
        cursor: pointer;

        @include breakpoint("md") {
            width: 40px;
            height: 40px;
        }

        @include breakpoint("sm") {
            width: 35px;
            height: 35px;
        }
    }

    &__setting-icon {
        @include breakpoint("md") {
            display: none;
        }
    }

    &__notification-icon {
        margin-right: 40px;

        @include breakpoint("md") {
            margin-right: 30px;
        }

        @include breakpoint("sm") {
            margin-right: 20px;
        }

        @include breakpoint("xs") {
            margin-right: 15px;
        }
    }

    // notification box
    &__notification-box {
        display: none;
    }

    &__notification-title-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;

        @include breakpoint("sm") {
            margin-bottom: 20px;
        }

        @include breakpoint("xs") {
            margin-bottom: 10px;
        }
    }

    &__notification-tle {
        color: #1a1919;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        transition: all .5s;

        @include breakpoint("sm") {
            font-size: 18px;
            line-height: 22px;
        }

        @include breakpoint("xs") {
            font-size: 16px;
            line-height: 20px;
        }
    }

    &__notification-cross {
        width: 12px;
        height: 12px;
        cursor: pointer;
    }

    &__notification-link {
        display: block;
        border: 1px solid #ddd;
        padding: 15px;
        border-radius: 8px;
        margin-bottom: 10px;

        @include breakpoint("sm") {
            padding: 10px;
            margin-bottom: 5px;
        }        
    }

    &__notification-link:hover &__notification-itm-title {
        color: $primary;
    }

    &__notification-itm-title {
        color: #1a1919;
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        margin-bottom: 10px;

        @include breakpoint("sm") {
            margin-bottom: 5px;
        }   
    }

    &__notification-para-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__notification-para, &__notification-para-1d {
        color: #1a1919;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;

        @include breakpoint("xs") {
            font-size: 13px;
            line-height: 20px;
        }
    }

    &__notification-box.active {
        display: block;
        background-color: $white;
        position: absolute;
        top: 95px;
        right: 140px;
        width: 450px;
        height: auto;
        border-radius: 8px;
        border: 1px solid #ddd;
        box-shadow: 0px 4px 12px 0px #00000026;
        padding: 25px 15px;
        z-index: 1;

        @include breakpoint("lg") { 
            right: 110px;
        }

        @include breakpoint("md") {
            top: 75px;
            right: 90px;
            padding: 15px 10px;
        }

        @include breakpoint("sm") {
            top: 65px;
            right: 75px;
            width: 350px;
        }

        @include breakpoint("xs") {
            right: 10px;
            width: calc(100% - 20px);
            padding: 10px;
        }
    }

    &__notification-icon.active svg circle {
        fill: #fe5c73;
    }

    &__notification-icon.active svg path {
        fill: $white;
    }

    &__notification-cross.active &__notification-box {
        display: none;
    }

    // profile box
    &__profile-icon {
        width: 60px;
        height: 60px;
        cursor: pointer;

        @include breakpoint("md") {
            width: 40px;
            height: 40px;
        }
    }

    &__profile-box {
        display: none;
    }

    &__profile-inner-wrap {
        display: flex;
        align-items: center;
        padding-bottom: 20px;

        @include breakpoint("sm") {
            padding-bottom: 15px;
        }

        @include breakpoint("xs") {
            padding-bottom: 10px;
        }
    }

    &__profile-img {
        width: 48px;
        height: 48px;

        @include breakpoint("sm") {
            width: 38px;
            height: 38px;
        }

        @include breakpoint("xs") {
            width: 30px;
            height: 30px;
        }
    }

    &__profile-content {
        width: calc(100% - 48px);
        flex: 1;
        padding-left: 20px;

        @include breakpoint("sm") {
            width: calc(100% - 38px);
            padding-left: 15px;
        }

        @include breakpoint("xs") {
            width: calc(100% - 30px);
            padding-left: 10px;
        }
    }

    &__profile-title {
        color: $black;
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        margin-bottom: 10px;

        @include breakpoint("sm") {
            margin-bottom: 5px;
        }

        @include breakpoint("xs") {
            font-size: 13px;
            line-height: 17px;
        }
    }

    &__profile-data {
        color: #666;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;

        @include breakpoint("xs") {
            font-size: 10px;
            line-height: 16px;
        }
    }

    &__profile-item {
        border-top: 1px solid #ddd;
        padding: 15px;

        @include breakpoint("sm") {
            padding: 10px;
        }

        @include breakpoint("xs") {
            padding: 5px;
        }
    }

    &__profile-item:last-child {
        padding-bottom: 0;
    }

    &__profile-link {
        display: inline-block;
        color: #3a3839;
        font-size: 14px;
        font-weight: 500;
        line-height: 22px;
        transition: all .5s;

        @include breakpoint("xs") {
            font-size: 13px;
            line-height: 20px;
        }
    }

    &__profile-link:hover {
        color: $primary;
    }

    &__profile-box.active {
        display: block;
        background-color: $white;
        position: absolute;
        top: 95px;
        right: 40px;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0px 4px 12px 0px #00000026;
        z-index: 1;

        @include breakpoint("lg") { 
            right: 10px;
        }

        @include breakpoint("md") {
            top: 75px;
            right: 15px;
            padding: 15px;
        }

        @include breakpoint("sm") {
            top: 65px;
        }

        @include breakpoint("xs") {
            padding: 10px;
            right: 10px;
            width: calc(100% - 20px);
        }
    }
}